@font-face {
    font-family: F1Bold;
    src: url(https://patrickvankruistum.github.io/F1Poule/lib/fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1Regular;
    src: url(https://patrickvankruistum.github.io/F1Poule/lib/fonts/Formula1-Regular.ttf);
}

#toolbarTitle {
    font-family: 'F1Bold';
    size: '12';
    text-align: center;
}

.raceHeader {
    font-family: 'F1Bold';
    color: red;
}

.raceButton {
    font-family: 'F1Regular';
}

.menuItem {
    font-family: 'F1Regular';
    font-size: 12px;
}

.raceAllInfo {
    /* background-color: purple; */
    margin-bottom: 1px;
    min-width: 600px;
}

.raceFirstInfo {
    font-family: 'F1Bold';
    width: 75px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    /* background-color: green; */
    float: left;
}

.raceDateInfo {
    font-size: 10px;
}

.raceSecondInfo {
    margin-left: 20px;
    /* background-color: blue; */
    float: left;
    /* vertical-align: middle; */
    /* line-height: 35px; */
}

.raceCircuitName {
    /* min-width: 200px; */
    font-family: 'F1Bold';
    color: rgb(77, 77, 77);
    font-size: 10px;
}