/* Define F1 fonts */

@font-face {
    font-family: F1Bold;
    src: url(https://patrickvankruistum.github.io/F1Poule/lib/fonts/Formula1-Bold.ttf);
}

@font-face {
    font-family: F1Regular;
    src: url(https://patrickvankruistum.github.io/F1Poule/lib/fonts/Formula1-Regular.ttf);
}


/* General page */

#toolbarTitle {
    font-family: 'F1Bold';
    size: '12';
    text-align: center;
    width: 150%;
    text-align: center;
}

#progressBar {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.tabName {
    font-family: 'F1Bold';
    font-size: 10px;
}


/* Race select screen */

.raceHeader {
    font-family: 'F1Bold';
    color: red;
    text-align: center;
}

.raceButton {
    font-family: 'F1Regular';
}

.raceAllInfo {
    margin-bottom: 1px;
    min-width: 600px;
}

.raceFirstInfo {
    font-family: 'F1Bold';
    width: 75px;
    height: 40px;
    text-align: center;
    font-size: 12px;
    float: left;
}

.raceDateInfo {
    font-size: 10px;
}

.raceSecondInfo {
    margin-left: 15px;
    /* background-color: blue; */
    float: left;
    /* vertical-align: middle; */
    /* line-height: 35px; */
}

.raceCircuitName {
    /* min-width: 200px; */
    font-family: 'F1Bold';
    color: rgb(77, 77, 77);
    font-size: 10px;
}


/* Top right menu items */

.menuItem {
    font-family: 'F1Regular';
    font-size: 12px;
}

.driverSelectMenuItem {
    font-family: 'F1Regular';
    font-size: 12px;
}


/* Prediction page */

.predictionHeaders {
    font-family: 'F1Bold';
}

.selectDriverButton {
    /* overflow: hidden;
    position: relative;
    height: 80px; */
}

.completeBar {
    position: absolute;
    height: 96%;
    width: 100%;
    min-width: 568;
    top: -10px;
    border: 1px solid purple;
}

.driverBar {
    margin-left: 0px;
    height: 100%;
    border: 1px solid red;
}

.driverBarEmpty {
    position: absolute;
    font-family: 'F1Bold';
    line-height: 70px;
    font-size: 20px;
    color: rgb(42, 42, 42);
    height: 100%;
    width: 100%;
    text-align: center;
    /* border: 1px solid red; */
}

.driverPicture {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 0px;
    vertical-align: bottom;
    border-width: 1px;
    margin-top: 28px;
}

.driverColorContainer {
    float: left;
    width: 20px;
    height: 45px;
    font-size: 36px;
    margin-top: 25px;
    margin-left: 5px;
}

.driverRemoveFlagParent {
    position: relative;
    height: 70px;
    width: 60px;
    float: right;
    /* border: 1px solid green; */
    margin-top: 5px;
    text-align: center;
}

.driverRemove {
    font-family: 'F1Bold';
    position: relative;
    /* margin: auto; */
    width: 35px;
    height: 25px;
    margin-left: 25px;
    margin-right: 10px;
    margin-top: 0px;
    color: darkgray;
    /* border: 1px solid green; */
    top: 0;
    z-index: 99;
}

.raceHeaderWithCountdown {
    font-family: 'F1Bold';
    text-align: center;
    height: 50px;
}

.raceDate {
    text-align: right;
    margin-right: 10px;
}

.raceWindowDescription {
    float: left;
    color: red;
}

#mainCountDown {
    width: 100vp;
    height: 40px;
    border: 0px solid black;
    text-align: center;
    margin: auto;
}

.countDownBlock {
    display: inline-block;
    width: 40px;
    height: 40px;
    color: darkgray;
    text-align: center;
}

.countDownBlockTop {
    font-family: 'F1Bold';
    height: 30px;
    font-size: 25px;
    vertical-align: top;
}

.countDownBlockUnder {
    font-family: 'F1Regular';
    font-size: 8px;
    height: 5px;
    color: white;
    vertical-align: top;
}

.countDownBlockSeparator {
    display: inline-block;
    width: 30px;
    height: 40px;
    text-align: center;
    vertical-align: top;
    line-height: 40px;
}

.driverSelectMainContainer {
    width: 100vp;
    height: 50px;
}

.driverSelectNumber {
    float: left;
    height: 100%;
    width: 20px;
    margin-top: 20px;
}

.driverSelectHelmet {
    float: left;
    height: 100%;
    width: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.driverSelectColor {
    font-family: 'F1Bold';
    float: left;
    font-size: 20px;
    width: 30px;
    text-align: center;
    margin-top: 20px;
    margin-left: 15px;
}

.driverSelectInitials {
    float: right;
    height: 100%;
    width: 70px;
    margin-top: 20px;
    margin-right: 15px;
}

#driverSelectDescriptionContainer {
    font-family: 'F1Bold';
    width: 87vw;
}

#driverSelectDescription {
    float: left;
    width: 51px;
}

#driverSelectVerwijder {
    margin-right: 10px;
    float: right;
}

#driverSelect {
    position: fixed;
    /* padding-top: 5px; */
    z-index: 5;
    margin-bottom: 50px;
}


/* Toast  */

.toast--thick__message,
.toast--thick__button {
    left: auto;
    font-family: 'F1Bold';
    font-weight: 700;
}


/* Start of the madness */

.predictionDriverCarousel {
    width: 20vw;
    overflow: visible !important;
    height: 73px;
    top: 0;
}

.predictionDriverCarouselDeselect {
    color: white;
    padding: 0 12px;
    box-sizing: border-box;
    line-height: 73px;
    background-color: rgb(179, 53, 53);
    border-right: 0.5px solid rgb(22, 21, 21);
    text-align: center;
}

.predictionDriverCarouselDeselectButton {
    position: absolute;
    /* border: 1px solid black; */
    float: left;
    left: 0;
    padding: 22px;
}

.predictionDriverCarouselSelect {
    position: absolute;
    width: 100vw !important;
}

.predictionDriverListItem {
    padding: 0;
    height: 73px;
    /* border: 1px solid teal; */
}

.predictionDriverTypePointContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 73px;
    width: 60px;
}

.predictionDriverType {
    font-family: 'F1Bold';
    font-size: 28px;
    width: 60px;
    height: 43px;
    text-align: center;
    /* margin-top: 20px; */
    color: darkgray;
    margin-right: 10px;
    /* border: 1px solid blue; */
    line-height: 45px;
}

.predictionDriverPoints {
    font-family: 'F1Bold';
    width: 60px;
    height: 30px;
    font-size: 11px;
    margin-top: 0px;
    text-align: center;
    color: darkgray;
    /* border: 1px solid green; */
}

.predictionDriverSelectContainer {
    float: right;
    position: relative;
    margin-top: -12px;
    height: 69px;
    width: 100%;
    /* border: 1px solid yellow; */
    margin-left: 49px;
}

.predictionDriverPicture {
    float: left;
    margin-top: 10px;
}

.predictionDriverColor {
    float: left;
    font-family: 'F1Regular';
    margin-top: 23px;
    font-size: 38px;
    margin-left: 0px;
}

.predictionDriverInfo {
    margin-top: 17px;
    height: 40px;
    float: left;
    margin-left: 5px;
}

.predictionDriverInfoName {
    font-family: 'F1Bold';
    font-size: 11px;
}

.predictionDriverTeamName {
    color: rgb(77, 77, 77);
    font-family: 'F1Bold';
    font-size: 9px;
}

.predictionDriverFlag {
    float: right;
    /* margin: auto; */
    width: 35px;
    margin-right: 20px;
    margin-top: 25px;
}

.predictionDriverEmpty {
    width: 100vw;
    position: relative;
    text-align: center;
    font-family: 'F1Bold';
    color: rgb(77, 77, 77);
}


/* Hall of fame */

.hallOfFamePerson {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    height: 70px;
    /* border: 1px solid yellow; */
}

.hallOfFamePersonTrophy {
    width: 20%;
    float: left;
    height: 70px;
    /* border: 1px solid blue; */
    text-align: center;
    line-height: 6.8;
}

.hallOfFamePersonYear {
    width: 20%;
    float: left;
    /* border: 1px solid purple; */
    height: 70px;
    text-align: center;
    line-height: 66px;
    font-family: 'F1Bold';
    font-size: 25px;
    color: darkgray;
    padding-right: 20px;
}

.hallOfFamePersonName {
    font-family: 'F1Bold';
    font-size: 15px;
    margin-top: 15px;
}

.hallOfFameTeamName {
    color: rgb(77, 77, 77);
    font-family: 'F1Bold';
    font-size: 9px;
}